<!-- Formulário de university_classes/new -->
<div class="background">
    <div class="container mt-3">

      <div class="system-area">
    <!-- Início do Formulário de cadastro -->
        <%= image_tag 'cad_turmas.jpg', class:"d-none d-sm-block" %>
        <div class="system-area-data">
              <h2>Cadastro de Turmas</h2>
            <%= simple_form_for(@university_class) do |f| %>
              <!-- form-inputs -->
              <div class="form-inputs ml-2">
              <div>
                <%= f.association :discipline,
                              label: 'Disciplina',
                              placeholder: 'Disciplina',
                              required: true,
                              autofocus: true %>

                <%= f.input :title,
                              label: 'Turma',
                              placeholder: 'Turma',
                              required: true,
                              autofocus: true %>

                  <%= f.association :professor, collection: @professors, 
                              label: 'Professor',
                              placeholder: 'Professor',
                              required: true,
                              autofocus: true %>
              
              </div>
            </div>

            <!-- form-inputs -->
            <!-- form-actions -->
            <div class="form-actions d-flex justify-content-center">
              <%= link_to "Vincular Alunos", university_classes_path, class:"btn btn-sm btn-outline-primary mx-2" %>
              <%= f.submit "Adicionar", class:"btn btn-sm btn-primary mx-2" %>

            </div>
            <!-- f -->
          </div>
  

        </div>
        <!-- container -->
      <% end %>

      
      </div>
  <!-- Fim do Formulário de cadastro -->

    </div>
</div>
</div>