<%= render '/shared/banner' %>


<div>

  <div class="container">
    <div class="system-area">
    <!-- Início do Formulário de cadastro -->
        
      <%= image_tag 'disciplinas', class:"d-none d-sm-block" %>
      <div class="system-area-data">
        <h2>Disciplinas Cadastradas</h2>
        <div class="form-actions">
              <%= link_to "Adicionar Disciplina", new_discipline_path, class:"btn btn-sm btn-primary" %>
        </div>
        <br>
        <table>
          <th>Codigo</th>
          <th>Disciplina</th>
          <th>Ativa</th>
          <% @disciplines.each do |discipline|%>
          <tr>
            <td><%= discipline.code %></td>
            <td><%= discipline.title %></td> 
            <%  if discipline.active? %>
              <td>Ativa</td>
            <% else %>
              <td>Inativa</td>
            <% end %>
            <% if current_user.admin? %>
              <td><i class="far fa-edit" ><%= link_to "Edit", edit_discipline_path(discipline)%></i></td>
            <% end %>
          </tr>
          <% end %>
        </table>
        <br>
        <%= link_to "Voltar", university_classes_path%>
      </div>
    </div>
  </div>
</div>
