<!-- Index de disciplines -->
<div class="background">

  <div class="container">
    <div class="system-area">
    <!-- Início do Formulário de cadastro -->
        
      <%= image_tag 'disciplinas.jpg', class:"d-none d-sm-block" %>
      <div class="system-area-data">
        <h2>Disciplinas Cadastradas</h2>
        <div class="form-actions justify-content-center">
              <%= link_to "Adicionar Disciplina", new_discipline_path, class:"btn btn-sm btn-primary" %>
              <%= link_to '<i class="fas fa-chevron-circle-left"></i>'.html_safe, disciplines_path %>
        </div>
        <br>
        <table>
          <th>Codigo</th>
          <th>Disciplina</th>
          <% @disciplines.each do |discipline|%>
          <tr>
            <td><%= discipline.code %></td>
            <td><%= discipline.title %></td> 
            
            <% if current_user.admin? %>
              <td><%= link_to '<i class="far fa-edit" ></i>'.html_safe, edit_discipline_path(discipline)%></i></td>
            <% end %>
          </tr>
          <% end %>
        </table>
        <br>
        <%= link_to "Voltar", university_classes_path%>
      </div>
    </div>
  </div>
</div>
