<h3 class="monitorings-title text-center m-3">Marque sua monitoria</h3>
<div class="container form-schedule-view">
  <div data-controller="monitorings">
    <p>Escolha a disciplina:</p>
    <select class="custom-select select2" data-action="change->monitorings#filterDate" id="disciplines">
      <!--<option selected>Disciplina</option>-->
      <option value=""></option>
      <!--  se der ruim, excluir:      -->
      <optgroup label="Disciplina">
        <%= @disciplines.each do |discipline| %>
          <option value="<%= discipline.id %>">
            <%= discipline.title %>
          </option>
        <% end %>
      </optgroup>
    </select>

    <%= simple_form_for :search, method: "get" do |f| %>
      <%= f.input :date, as: :string, required: false, input_html: {class: 'datepicker', id: 'date', data: { action: 'change->monitorings#filterDate' } } %>
    <% end %>

    <div data-monitorings-target="schedule" class="form-calendar form-schedule-view" id="schedule">
      <div id="fixed">
        <div id="dates" data-dates="<%= @available_dates %>"></div>
        <input type="hidden" name="_method" value="patch">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <div style="visibility: hidden" class="form-group text optional monitoring_question" id="form-duvidas">
          <label class="text optional" for="monitoring_question"><br>Descreva sua dúvida:</label>
          <textarea class="form-control text optional" name="monitoring[question]" id="monitoring_question"></textarea>
        </div>
        <input style="visibility: hidden" type="submit" name="commit" value="Agendar" class="btn btn-primary" data-disable-with="Submit" id="submit" disabled>
        <br>
      </div>
    </div>
  </div>
  <p class="btn-back"><%= link_to 'Cancelar', monitorings_path %></p>
</div>