<%# TITULO %>
<div class="standard-title-box d-flex" >
  <div class="title-box-left-icon">
    <%= link_to university_classes_path do %>
      <i class="fas fa-chevron-left fa-2x" id="back-icon-show-turma"></i>
    <% end %>
  </div>
  <div class="title-box-center-text">
    <p id="subtitle-monitor-edit">Horários de</p>
    <h3 class="monitorings-title text-center"><%= @class_monitor.student.name %></h3>
  </div>
  <div class="title-box-right-empty">
  </div>
</div>
<hr class="separador">
<br>

<div class="container">
  <p class="text-center subtitle-monitor-edit-schedule">Horários Vigentes:</p>
  <% @week_monitorings.map { |monitoring| @day_order.index(monitoring.date_time.strftime("%a").downcase) }.uniq.sort.each do |day|%>
    <p class="sub-title-show-monitoring"><%= @portuguese_days[day] %>:</p>
    <div class="informations-show container d-flex">
      <% @week_monitorings.select { |monitoring| @day_order.index(monitoring.date_time.strftime("%a").downcase) == day }.each do |monitoring| %>
        <p><%= monitoring.date_time.strftime("%k:%M") %> - 
          <%= link_to destroy_schedule_path(@class_monitor, schedule: monitoring.date_time.strftime("%k:%M"), day: day), 
                                                            method: :delete,
                                                            data: { confirm: "Tem certeza que deseja excluir esse horário? (Todos os agendamentos desse horário serão excluídos)" },
                                                            remote: true do %>
            <i class="far fa-trash-alt"></i>
          <% end %>
        </p>
      <% end %>
    </div>
  <% end %>
  <br>
  <hr class="separador" >
  <br>
  <p class="text-center subtitle-monitor-edit-schedule">Adicionar horários:</p>
  <div class="form-monitor-edit">
    <%= simple_form_for :schedule, url: class_monitor_path(@class_monitor),
                                  method: :patch,
                                  remote: true do |f| %>
      <%= f.input :week_day, label: 'Dia da semana:',
                            collection: @portuguese_days,
                            input_html: { class: 'select2', style: 'width:60%' } %>
      <%= f.input :time, label: 'Horário:',
                        as: :time,
                        minute_step: 15,
                        input_html: { class: 'select2', style: 'width:48%' } %>
      <%= f.input :duration, label: 'Duração (horas):',
                             as: :integer,
                             input_html: { style: 'width:48%' } %>
      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<%# FOOTER DA PAGINA %>
<div class="footer" id="footer-edit-monitor">
  <hr>
  <div class="d-flex justify-content-around">
    <div class="btn-left">
      <div class="big-icons">
        <p id="edit-icon" class="m-0">
          <%# Botao da Esquerda %>
          <%= link_to @class_monitor.university_class do %>
            <i class="fas fa-arrow-left fa-2x"></i>
          <% end %>
          <%# Texto da Esquerda %>
        </p>
      </div>
      <span><%= link_to ' Voltar ', @class_monitor.university_class %></span>
    </div> 
    <div class="btn-right">
      <div class="big-icons">
        <p id="edit-icon" class="m-0">
          <%# Botao do Centro %>
          <%= link_to university_classes_path do %>
            <i class="fas fa-home fa-2x"></i>
          <% end %>
        </p>
      </div>
      <%# Texto do Centro %>
      <span><%= link_to ' Home ', university_classes_path %></span>
    </div> 
  </div>
</div>
