  <p><%= link_to 'Voltar a suas turmas', university_classes_path %></p>
  <p><%= link_to 'Voltar à turma', @class_monitor.university_class %></p>

<h1>Horários de <%= @class_monitor.student.name %></h1>
<% @week_monitorings.map { |monitoring| @day_order.index(monitoring.date_time.strftime("%a").downcase) }.uniq.sort.each do |day|%>
  <p><%= @portuguese_days[day] %>:</p>
  <% @week_monitorings.select { |monitoring| @day_order.index(monitoring.date_time.strftime("%a").downcase) == day }.each do |monitoring| %>
    <p><%= monitoring.date_time.strftime("%k:%M") %> - 
      <%= link_to 'Remover horário', 
        destroy_schedule_path(@class_monitor, schedule: monitoring.date_time.strftime("%k:%M"), day: day), method: :delete,
        data: { confirm: "Tem certeza que deseja excluir esse horário? (Todos os agendamentos desse horário serão excluídos)" },
        remote: true %>
    </p>
  <% end %>
<% end %>
<%= simple_form_for :schedule, url: class_monitor_path(@class_monitor), method: :patch, remote: true do |f| %>
  <%= f.input :week_day, collection: @portuguese_days %>
  <%= f.input :time, as: :time, minute_step: 15 %>
  <%= f.input :duration, as: :integer %>
  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>