

<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :registration, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password,
                label: 'Senha',
                placeholder: 'Senha',
                hint: "Deixe em branco se você não quiser alterar",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                label: 'Confirme a senha',
                placeholder: 'Senha',
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :current_password,
                label: 'Senha atual',
                placeholder: 'Senha',
                hint: "Digite sua senha atual para confirmar as alterações",
                required: true,
                input_html: { autocomplete: "current-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Atualizar", class:"btn btn-sm btn-primary" %>
  </div>
<% end %>

<h3>Cancelar meu cadastro</h3>

<%= link_to "Cancelar", registration_path(resource_name), data: { confirm: "Quer mesmo cancelar sua conta?" }, method: :delete, class:"btn btn-sm btn-outline-danger" %>

<%= link_to "Back", :back %>

