<div class="container mt-3">
  <h3 class="monitorings-title text-center">Alterar Perfil</h3>

  <%# Inicio do Formulario %>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <%# Mostrar matrícula - editável apenas para ADMINs %>
    <% if current_user.admin? %>
      <%= f.input :registration, 
                  label: 'Matrícula',
                  placeholder: 'Matrícula',
                  required: true,
                  disabled: false, 
                  autofocus: false %>
    <% else %>
      <%= f.input :registration, 
                  label: 'Matrícula',
                  placeholder: 'Matrícula',
                  required: true,
                  disabled: true, 
                  autofocus: false %>
    <% end %>
      
    <%# confirmação de email %>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Aguardando confirmação para: <%= resource.unconfirmed_email %></p>
    <% end %>

        <%# Email %>
    <%= f.input :email,
                label: 'Email',
                placeholder: current_user.email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    
    <%# Telefone %>
    <%= f.input :phone_number,
                label: 'Telefone',
                placeholder: current_user.phone_number,
                required: false %>

    <%# Nova senha %>
    <%= f.input :password,
                label: 'Nova Senha',
                placeholder: 'Nova Senha',
                hint: "Deixe em branco se você não quiser alterar",
                required: false,
                input_html: { autocomplete: "new-password" } %>

    <%= f.input :password_confirmation,
                label: 'Confirme a senha',
                placeholder: 'Senha',
                hint: "Deixe em branco se você não estiver alterando a senha",
                required: false,
                input_html: { autocomplete: "new-password" } %>

    <%# ANEXAR FOTO %>
    <%= f.input :photo, as: :file, label: 'Foto' %>

    <%# Check list - classe de usuario - apenas para ADMINs %>
    <% if current_user.admin? %>
      <%= f.input :student?, as: :boolean,
                  label: 'Aluno?' %>
      <%= f.input :professor?, as: :boolean,
                  label: 'Professor?' %>
      <%= f.input :admin?, as: :boolean,
                  label: 'Administrador do Sistema?',
                  hint: "Marcar somente se o usuário tiver privilégios de administrador" %>
    <% end %>

    <%= f.input :current_password,
                label: 'Senha atual',
                placeholder: 'Senha',
                hint: "Digite sua senha atual para confirmar as alterações",
                required: true,
                input_html: { autocomplete: "current-password" } %>

    <%# Botao de Atualizar %>
    <%= f.button :submit, "Atualizar", class:"btn btn-primary mb-2" %>

  <%# Fim do formulario %>
  <% end %>

  <%= link_to "Excluir Cadastro", registration_path(resource_name), data: { confirm: "Quer mesmo cancelar sua conta?" }, method: :delete, class:"btn btn-sm btn-outline-danger" %>

  <%= link_to "Voltar", :back %>

</div>
