<%= render '/shared/banner' %>

<!-- Formulário de users/new -->
<div>
    <div class="container mt-3">

      <div class="system-area">
    <!-- Início do Formulário de cadastro -->
        <%= image_tag 'cad_usuarios', class:"d-none d-sm-block" %>
        <div class="system-area-data">
              <h2>Cadastro de Usuários</h2>
            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= f.error_notification %>
              <!-- form-inputs -->
              <div class="form-inputs">
              <div>
                <%= f.input :name,
                              label: 'Nome completo',
                              placeholder: 'Nome completo',
                              required: true,
                              autofocus: true %>
              </div>
              <div>
                <%= f.input :nickname,
                              label: 'Nome para exibição',
                              placeholder: 'Nome a ser exibido',
                              required: true,
                              autofocus: true %>
              </div>
              <div>
                  <%= f.input :registration,
                              label: 'Matricula',
                              placeholder: 'RGA ou CPF',
                              required: true,
                              autofocus: true %>
              </div>
              <div>
                  <%= f.input :email,
                              label: 'Email',
                              placeholder: 'Email',
                              required: true,
                              autofocus: true,
                              input_html: { autocomplete: "email" }%>
              </div>
              <div>
                  <%= f.input :password,
                              label: 'Senha',
                              placeholder: 'Senha',
                              required: true,
                              hint: ("mínimo #{@minimum_password_length} caracteres " if @minimum_password_length),
                              input_html: { autocomplete: "new-password" } %>
              </div>
              <div>
                  <%= f.input :password_confirmation,
                              label: 'Confirme a Senha',
                              placeholder: 'Senha',
                              required: true,
                              input_html: { autocomplete: "new-password" } %>
            </div>
            <div>
            <%= f.input :student?, as: :boolean,
                        label: 'Aluno?' %>
            <%= f.input :professor?, as: :boolean,
                        label: 'Professor?' %>
            <%= f.input :admin?, as: :boolean,
                        label: 'Administrador do Sistema?',
                        hint: "Marcar somente se o usuário tiver privilégios de administrador" %>
            </div>
            </div>

            <!-- form-inputs -->
            <!-- form-actions -->
            <div class="form-actions">
              <%= f.button :submit, "Cadastrar", class:"btn btn-primary mb-2" %>
            </div>
            <div class="form-actions">
              <%= link_to "Acesso", new_session_path(resource_name) %>


            </div>
            <!-- f -->
          </div>
  

        </div>
        <!-- container -->
      <% end %>

      
      </div>
  <!-- Fim do Formulário de cadastro -->

    </div>
</div>
</div>