<div id="bg-ufmt">
  <br>
  <h1 class="font-bold text-center">SOS Monitor</h1>
  <p class="text-center">Encontre um monitor disponível e tire as suas dúvidas. </p>
  <div class="row">
    <div class="container col-8 col-md-2">

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <h2 class="text-center font-bold">Cadastro</h2>
            <%= f.input :name,
                          label: 'Nome completo',
                          placeholder: 'Nome completo',
                          required: true,
                          autofocus: true %>
            <%= f.input :nickname,
                          label: 'Nome para exibição',
                          placeholder: 'Nome a ser exibido',
                          required: true,
                          autofocus: true %>
              <%= f.input :registration,
                          label: 'RGA (aluno) / CPF (servidor)',
                          placeholder: 'RGA ou CPF',
                          required: true,
                          autofocus: true %>
              <%= f.input :email,
                          label: 'Email',
                          placeholder: 'Email',
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "email" }%>
              <%= f.input :password,
                          label: 'Senha',
                          placeholder: 'Senha',
                          required: true,
                          hint: ("mínimo #{@minimum_password_length} caracteres " if @minimum_password_length),
                          input_html: { autocomplete: "new-password" } %>
              <%= f.input :password_confirmation,
                          label: 'Confirme a Senha',
                          placeholder: 'Senha',
                          required: true,
                          input_html: { autocomplete: "new-password" } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Cadastrar", class:"btn btn-primary" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    
    </div>
  </div>
</div>