  <%# Caso queira importar o calendário do CodePen: %>
  <%# <div class="calendar-box d-flex justify-content-center">
    <div class="monitor-calendar">
      <div id="calendar"></div>
    </div>
  </div> %>

<div data-controller="monitorings">
  <h3 class="monitorings-title text-center m-3">Sua Agenda</h3>
  <div id="disciplines" data-discipline-id="<%= @monitorings.first.class_monitor.university_class.discipline.id %>">
</div>

<% if current_user.student? %>
  <p><%= link_to 'Módulo aluno', monitorings_path %></p>
<% elsif current_user.professor? %>
  <p><%= link_to 'Voltar a suas turmas', university_classes_path %></p>
  <p><%= link_to 'Voltar à turma', @monitorings.first.class_monitor.university_class %></p>
<% end %>

<div data-controller="monitorings">

  <%= simple_form_for :search, method: "get" do |f| %>
    <%= f.input :date, as: :string, placeholder: Date.today.strftime("%d/%m/%Y"), required: false, input_html: {class: 'datepicker', data: { action: 'change->monitorings#monitorDate' } } %>
  <% end %>

  <div id="monitor-user" data-user-id="<%= @user.id %>"></div>

  <%= render 'list_monitor_monitorings' %>

</div>