<%= link_to 'Módulo aluno', monitorings_path %>
<h1>Monitorias</h1>
<% @monitorings.each do |monitoring| %>
  <p><%= monitoring.date_time %></p>
  <p><%= monitoring.place %></p>
  <% if monitoring.monitorings_students.empty? %>
    <p><%= 'Horário disponível' %></p>
  <% else %>
    <% if monitoring.students.count > 1 %>
      <p><%= "#{monitoring.students.first.name} + #{monitoring.students.count - 1}" %></p>
    <% else %>
      <p><%= monitoring.students.first.name %></p>
    <% end %>
  <% end %>
  <br>
<% end %>