<!-- Exibe as monitorias já concluídas -->
<br>
<div class="index-body" id="index-body">
  
  <h3 class="monitorings-title text-center">Monitorias Concluídas</h3>
  
  <%# <% if @monitorings.count > 0 %>
  <% @monitorings.each do |monitoring| %>
    <div class="monitoring-card">
      <div class="monitoring-box d-flex justify-content-between">
        <div class="monitoring-info flex-grow-1">
          <h5><%= link_to monitoring.class_monitor.university_class.discipline.title, monitoring %></h5>
          <p><%= monitoring.date_time.strftime("%d/%m/%Y às %H:%M") %> - <%= monitoring.place %></p>
          <p>Monitor: <%= "#{monitoring.class_monitor.student.name.split.first} #{monitoring.class_monitor.student.name.split.last}" %></p>
          <% if monitoring.excuse %>
            <p>Status: <strong class="color: red;">Cancelada</strong></p>
          <% elsif MonitoringsStudent.find_by(student: current_user, monitoring: monitoring).rating.nil? %>
            <strong><%= link_to 'Avalie sua monitoria', monitoring_path(monitoring) %></strong>
          <% else %>
            <%= MonitoringsStudent.find_by(student: current_user, monitoring: monitoring).rating %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
          
