<% if current_user.monitor? %>
  <p><%= link_to 'Módulo monitor', monitor_schedule_path(current_user) %></p>
<% end %>
<p><%= link_to 'Agendar monitoria', student_disciplines_path %></p>
<p><%= link_to 'Monitorias agendadas', monitorings_path %></p>

<h1>Monitorias concluídas</h1>
<% @monitorings.each do |monitoring| %>
  <h5><%= link_to monitoring.class_monitor.university_class.discipline.title, monitoring %></h5>
  <p><%= monitoring.date_time %></p>
  <p><%= monitoring.place %></p>
  <p><%= monitoring.class_monitor.student.name %></p>
  <% if monitoring.excuse %>
    <p>Cancelada</p>
  <% elsif MonitoringsStudent.find_by(student: current_user, monitoring: monitoring).rating.nil? %>
    <p>Avalie sua monitoria!</p>
  <% else %>
    <%= MonitoringsStudent.find_by(student: current_user, monitoring: monitoring).rating %>
  <% end %>
  <br>
<% end %>