

<%# TITULO %>
<p>Monitoria de </p>
<h3><%= @monitoring.class_monitor.university_class.discipline.title %></h3>
<p><strong>Agendada com sucesso!</strong> <i class="far fa-check-circle"></i></p>
<hr>

<%# HORARIO %>
<p><%= @monitoring.date_time.strftime("%d/%m/%Y às %H:%M") %></p>

<%# LOCAL %>
<% if @monitoring.students.include? current_user %>
    <p><%= @monitoring.place %></p>
  <% else %>
    <%= simple_form_for @monitoring, url: edit_place_path(@monitoring) do |f| %>
      <%= f.input :place, input_html: { value: @monitoring.place } %>
      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
<% end %>

<%# SITUACAO %>
<% if @monitoring.excuse %>
  <h4>Monitoria cancelada!</h4>
  <p><%= @monitoring.excuse %></p>
<% end %>

<%# DUVIDA DO ALUNO %>
<p><%= @monitoring.question %></p>
<br>

<%# LINKS %>
<% if @monitoring.students.include? current_user %>
  <% if @monitoring.date_time >= Time.now %>
    <p><%= link_to 'Voltar para monitorias agendadas', monitorings_path %></p>
  <% else %>
    <p><%= link_to 'Voltar para monitorias concluídas', monitorings_old_path %></p>
  <% end %>
  <% unless @monitoring.excuse || @monitoring.date_time < Time.now %>
    <p><%= link_to 'Editar', edit_monitoring_path(@monitoring) %></p>
    <% if @monitoring.students.count > 1 %>
      <p><%= link_to 'Sair da monitoria', monitoring_leave_path(@monitoring), method: :delete ,
        data: { confirm: 'Tem certeza que deseja sair dessa monitoria?' }%></p>
    <% end %>
    <p><%= link_to 'Cancelar agendamento', @monitoring, method: :delete,
      data: { confirm: 'Tem certeza que deseja cancelar o agendamento? (O cancelamento ocorrerá para todos os participantes)' } %>
    </p>
  <% end %>
<% else %>
  <p><%= link_to 'Voltar para monitorias', monitor_schedule_path(@monitoring.class_monitor.student) %></p>
<% end %>

<%# ALUNOS PARTICIPANTES %>
<% if @monitoring.students.include? current_user %>
  <p><%= @monitoring.class_monitor.student.name %></p>
  <% if @monitoring.students.reject { |student| student == current_user }.any? %>
    <p>Demais participantes:</p>
    <% @monitoring.students.sort_by(&:name).reject { |student| student == current_user }.each do |student| %>
      <% if @monitoring.excuse || @monitoring.date_time < Time.now %>
        <p><%= student.name %></p>
      <% else %>
        <p><%= student.name %> - 
          <%= link_to 'Remover da monitoria', MonitoringsStudent.find_by(student: student, monitoring: @monitoring), 
            method: :delete, data: { confirm: 'Tem certeza que deseja remover esse estudante da monitoria?' },
            remote: true %></p>
      <% end %>
    <% end %>
  <% end %>
  <% unless @monitoring.excuse || @monitoring.date_time < Time.now %>
    <%= simple_form_for([@monitoring, @monitorings_student], remote: true) do |f| %>
      <%= f.input :student, collection: @students.map{|student| [student.name, student.id]}, input_html:{class:"select2"}%>
      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  <% end %>
  <% if @monitoring.date_time < Time.now %>
    <% if @current_monitorings_student.rating.nil? %>
      <%= simple_form_for(@current_monitorings_student, remote: true) do |f| %>
        <%= f.input :rating, collection: (1..5) %>
        <%= f.input :review %>
        <%= f.submit "Submit", class: "btn btn-primary" %>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <% if @monitoring.students.any? %>
    <p>Participantes:</p>
    <% @monitoring.students.each do |student| %>
      <p><%= student.name %></p>
    <% end %>
  <% else %>
    <p>Monitoria não agendada</p>
  <% end %>
  <% unless @monitoring.excuse || @monitoring.date_time <= Time.now %>
    <%= simple_form_for @monitoring, url: monitoring_cancel_path(@monitoring), method: :patch, remote: true do |f| %>
      <%= f.input :excuse %>
      <%= f.submit "Cancelar monitoria", class: "btn btn-primary" %>
    <% end %>
  <% end %>
<% end %>

<%# AVALIACAO DA MONITORIA %>
<% if @monitoring.date_time < Time.now && @monitoring.students.any? %>
  <p>Avaliações da monitoria:</p>
  <% @monitoring.monitorings_students.each do |monitorings_student| %>
    <% if monitorings_student.rating %>
      <p><%= monitorings_student.student.name %></p>
      <p><%= monitorings_student.rating %></p>
      <p><%= monitorings_student.review %></p>
      <br>
    <% end %>
  <% end %>
<% end %>