<%# TITULO %>
<div class="standard-title-box d-flex" >
  <div class="title-box-left-icon">
    <%= link_to monitorings_path do %>
      <i class="fas fa-chevron-left fa-2x"></i>
    <% end %>
  </div>
  <div class="title-box-center-text">
    <p class="sub-title-show-monitoring">Monitoria de </p>
    <h3><%= @monitoring.class_monitor.university_class.discipline.title %></h3>
  </div>
  <div class="title-box-right-empty">
  </div>
</div>

<%# SITUACAO %>
<% if @monitoring.excuse %>
  <p class="unsucess-schedule text-center">Monitoria cancelada! <i class="far fa-times-circle"></i></p>
<% elsif @monitoring.students.any? %>
  <p class="sucess-schedule text-center"><strong>Agendada com sucesso!</strong> <i class="far fa-check-circle"></i></p>
<% else %>
  <p>Monitoria não agendada</p>
<% end %>

<hr>

<div class="container">
  <p class="sub-title-show-monitoring">Informações:</p>
  <div class="informations-show container">
    <%# HORARIO %>
    <p class="text-monitoring-confirmation-date"><%= @monitoring.date_time.strftime("%d/%m/%Y às %H:%M") %></p>

    <%# LOCAL %>
    <% if @monitoring.students.include?(current_user) || @monitoring.excuse %>
        <p>Local marcado: <strong><%= @monitoring.place %></strong></p>
      <% else %>
        <%= simple_form_for @monitoring, url: edit_place_path(@monitoring) do |f| %>
          <%= f.input :place, label: 'Local', input_html: { value: @monitoring.place } %>
          <%= f.submit "Alterar Local", class: "btn btn-outline-primary" %>
        <% end %>
    <% end %>
  </div>

  <%# DUVIDA DO ALUNO ou MOTIVO DE CANCELAMENTO %>
  <% if @monitoring.excuse %>
    <p class="sub-title-show-monitoring">Motivo do cancelamento:</p>
    <div class="informations-show container">
      <p><%= @monitoring.excuse %></p>
    </div>
  <% elsif @monitoring.students.any? %>
    <p class="sub-title-show-monitoring">Dúvida do aluno:</p>
    <div class="informations-show container">
      <p class="container"><%= @monitoring.question %></p>
    </div>
  <% end %>

  <%# INFO DO MONITOR %>
  <% if @monitoring.students.include? current_user %>
    <p class="sub-title-show-monitoring">Monitor:</p>
    <div class="informations-show container">
      <div class="notification">
        <%# FOTO DO MONITOR %>
        <% if @monitoring.class_monitor.student.photo.attached? %>
          <%= image_tag @monitoring.class_monitor.student.photo, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% else %>
          <%= image_tag "placeholder_avatar.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% end %>
        <div class="notification-content">
          <%# NOME %>
          <p><%= link_to "#{@monitoring.class_monitor.student.name.split[0]} #{@monitoring.class_monitor.student.name.split[-1]}", @monitoring.class_monitor %></p>
          <%# TELEFONE %>
          <% if @monitoring.class_monitor.student.phone_number? %>
            <p><span><i class="fas fa-mobile-alt"></i></span> <%= @monitoring.class_monitor.student.phone_number %></p>
          <% else %>
            <p><span><i class="fas fa-mobile-alt"></i></span> <em style="color:gray">Usuário sem telefone cadastrado.</em></p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <%# ALUNOS PARTICIPANTES %>
  <% if @monitoring.students.include? current_user %>
    <% if @monitoring.students.reject { |student| student == current_user }.any? %>
      <p class="sub-title-show-monitoring">Demais participantes:</p>
      <div class="informations-show container">
        <% @monitoring.students.sort_by(&:name).reject { |student| student == current_user }.each do |student| %>
          <% if @monitoring.excuse || @monitoring.date_time < Time.now %>
            <p><%= student.name.split[0] %> <%= student.name.split[-1] %></p>
          <% else %>
            <div class="d-flex justify-content-between align-items-center">
              <p id="list-students-monitoring"><%= student.name.split[0] %> <%= student.name.split[-1] %></p>
                <%= link_to MonitoringsStudent.find_by(student: student, monitoring: @monitoring), 
                  method: :delete, data: { confirm: 'Tem certeza que deseja remover esse estudante da monitoria?' },
                  remote: true do %>
                  <i class="fas fa-user-times"></i>
                <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <% unless @monitoring.excuse || @monitoring.date_time < Time.now %>
      <%= simple_form_for([@monitoring, @monitorings_student], remote: true) do |f| %>
        <p class="sub-title-show-monitoring">Incluir colegas:</p>
        <div class="d-flex container">
          <%= f.input :student, label: false, 
                                collection: @students.map{|student| [student.name, student.id]}, 
                                input_html:{class:"select2", style:"width: 45vh"} %>
          <%= button_tag type: 'submit', class: "button-postfix" do %>
            <i class="fas fa-user-plus"></i>
          <% end %>
        </div>
      <% end %>
    <% end %>
    <% if @monitoring.date_time < Time.now %>
      <% if @current_monitorings_student.rating.nil? %>
        <%= simple_form_for(@current_monitorings_student, remote: true) do |f| %>
          <%= f.input :rating, label: 'Avaliação:', collection: (1..5) %>

          <div class="estrelas">
          <label for="rating">Avaliação</label>
            <input type="radio" id="cm_star-empty" name="rating" value="" checked/>
            <label for="cm_star-1"><i class="fa"></i></label>
            <input type="radio" id="cm_star-1" name="rating" value="1"/>
            <label for="cm_star-2"><i class="fa"></i></label>
            <input type="radio" id="cm_star-2" name="rating" value="2"/>
            <label for="cm_star-3"><i class="fa"></i></label>
            <input type="radio" id="cm_star-3" name="rating" value="3"/>
            <label for="cm_star-4"><i class="fa"></i></label>
            <input type="radio" id="cm_star-4" name="rating" value="4"/>
            <label for="cm_star-5"><i class="fa"></i></label>
            <input type="radio" id="cm_star-5" name="rating" value="5"/>
          </div>
                
          <%= f.input :review, label: 'Comentários:' %>
          <%= f.submit "Enviar", class: "btn btn-primary" %>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <% if @monitoring.students.any? %>
      <p class="sub-title-show-monitoring">Participantes:</p>
      <div class="informations-show container">
        <% @monitoring.students.each do |student| %>
          <div class="notification">
          <%# FOTO DO ALUNO %>
            <% if student.photo.attached? %>
              <%= image_tag student.photo, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <%= image_tag "placeholder_avatar.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
            
            <div class="notification-content">
              <p><%= "#{student.name.split[0]} #{student.name.split[-1]}" %></p>
              <% if student.phone_number? %>
                <p><span><i class="fas fa-mobile-alt"></i></span> <%= student.phone_number %></p>
              <% else %>
                <p><span><i class="fas fa-mobile-alt"></i></span> <em style="color:gray">Usuário sem telefone cadastrado.</em></p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
    <% unless @monitoring.excuse || @monitoring.date_time <= Time.now %>
      <%= simple_form_for @monitoring, url: monitoring_cancel_path(@monitoring), method: :patch, remote: true do |f| %>
        <%= f.input :excuse, label: 'Motivo do cancelamento:' %>
        <%= f.submit "Cancelar monitoria", class: "btn btn-primary" %>
      <% end %>
    <% end %>
  <% end %>

  <%# AVALIACAO DA MONITORIA %>
  <% if @monitoring.date_time < Time.now && @monitoring.students.any? %>
    <p class="sub-title-show-monitoring">Avaliações da monitoria:</p>
    <div class="informations-show container">
      <div class="notification">
        <% @monitoring.monitorings_students.each do |monitorings_student| %>
          <% if monitorings_student.rating %>
            <%# FOTO DO ALUNO %>
            <% if monitorings_student.student.photo.attached? %>
              <%= image_tag monitorings_student.student.photo, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <%= image_tag "placeholder_avatar.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
            <div class="notification-content">
              <div>
              <%# AVALIÇÃO DO ALUNO %>
              <% monitorings_student.rating.times do %>
                <i class="fas fa-star estrelas-rating"></i> 
              <% end %>
              <% (5 - monitorings_student.rating).times do %>
                <i class="fas fa-star estrelas-rating-empty"></i>
              <% end %>
              </div>
              <p><%= "\"#{monitorings_student.review}\""%></p>
              <%# NOME DO ALUNO %>
              <p class="user-review"><%= monitorings_student.student.name.split[0].capitalize %> <%= monitorings_student.student.name.split[-1].capitalize %></p>
              <br>
            <% end %> 
            </div>
          <% end %> 
        </div>
    </div>
  <% end %>
</div>



<%# FOOTER DA PAGINA %>
<% if @monitoring.students.include? current_user %>
  <div class="footer">
  <hr>
    <% unless @monitoring.excuse || @monitoring.date_time < Time.now %>
      <div class="d-flex justify-content-around">
        <% if @monitoring.students.count > 1 %>
          <div class="btn-left">
            <div class="big-icons">
              <p id="edit-icon" class="m-0">
                <%# Botao da Esquerda %>
                <%= link_to monitoring_leave_path(@monitoring), method: :delete ,
                                                                  data: { confirm: 'Tem certeza que deseja sair dessa monitoria?' } do %>
                  <i class="fas fa-door-open fa-2x"></i>
                <% end %>
                <%# Texto da Esquerda %>
              </p>
            </div>
            <span><%= link_to ' Sair da monitoria ', student_disciplines_path %></span>
          </div> 
        <% end %>
        <div class="btn-center">
          <div class="big-icons">
            <p id="edit-icon" class="m-0">
              <%# Botao do Centro %>
              <%= link_to edit_monitoring_path(@monitoring) do %>
                <i class="far fa-edit fa-2x"></i>
              <% end %>
            </p>
          </div>
          <%# Texto do Centro %>
          <span><%= link_to ' Editar ', student_disciplines_path %></span>
        </div> 
        <div class="btn-right">
          <div class="big-icons">
            <p id="edit-icon" class="m-0">
              <%# Botao da Direita %>
              <%= link_to @monitoring, method: :delete,
                                       data: { confirm: 'Tem certeza que deseja cancelar o agendamento? (O cancelamento ocorrerá para todos os participantes)' } do %>
                <i class="far fa-calendar-times fa-2x"></i>
              <% end %>
            </p>
          </div>
          <%# Texto da direita %>
          <span><%= link_to 'Cancelar monitoria', monitorings_old_path %></span>
        </div>
      </div>
    <% end %>
  </div>
<% end %>


